# Системні файли
.DS_Store
Thumbs.db
desktop.ini

# Редактори та IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Залежності та збірка
node_modules/
dist/
build/

# Логи
*.log
npm-debug.log*

# Локальні налаштування та тимчасові файли
.env
.env.local
*.tmp
*.bak
